.container {
  display: flex;
  flex-direction: column;
}
.placeholder {
  display: flex;
  justify-content: center;
}
.placeholder > span {
  padding: 10px 15px;
  border: 1px solid white;
  flex-grow: 1;
}
.placeholder > span:last-child {
  flex-grow: 0;
}
.dateContainer {
  margin-top: 3px;
  width: 100%;
  border: 1px solid white;
  box-sizing: border-box;
}
.monthYearSlider {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
}
table {
  display: flex;
  flex-direction: column;
}
th,
td {
  width: 26px;
  text-align: center;
}
.dateTable {
  padding: 0px 5px 10px 5px;
}
